.head {
    border-bottom: 1px solid #ececec;
  }
 
  .top-head {
    display: flex;
    align-items: center;
    
  }
  @media screen and (min-width: 768px){
    .top-head{
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
  @media screen and (min-width: 1200px){
  .top-head{
    padding-top: 0px;
    padding-bottom: 0px;
   } 
}

 
  .logo {
    
    font-family: var(--logofont);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;



    &__first {
      color: var(--blue);
    }
   
    &__second {
      color: #000;
    }
   
    &__second-footer {
      color: var(--background-main);
    }
   
    &--position {
      margin-right: 90px;
    }
  }

  @media screen and (min-width: 320px){
    .logo{
      display: flex;
      justify-content: center;
    }
  }
  @media screen and (min-width: 480px){
    .logo{
      display: flex;
      justify-content: center;
    }
  }
@media screen and (min-width: 1200px){
  .logo{
    display: flex;
    justify-content: start;

  }
}
  
  .hover-tel {

    @media screen and (min-width: 320px){   ////480
    display: flex;
    margin-left: auto;
    padding-left: 0;
    gap: 50px;
    display: none; // зникаюче меню

    @media screen and (min-width: 768px){
      flex-direction: column;
      gap: 0;
      display: block; //зявляється меню
    }

    @media screen and (min-width: 1200px){
      display: flex;
      flex-direction: row;
      gap: 50px;
    }
    &__envelope {
      height: 12px;
      width: 16px;
      margin-right: 10px;
      fill: currentColor;
    }
   
    &__smartphone {
      display: inline-block;
      height: 16px;
      width: 10px;
      margin-right: 10px;
      fill: currentColor;
   
    }
      
    }
    display: flex;
    margin-left: auto;
    padding-left: 0;
    gap: 50px;

    &__envelope {
      height: 12px;
      width: 16px;
      margin-right: 10px;
      fill: currentColor;
    }
   
    &__smartphone {
      display: inline-block;
      height: 16px;
      width: 10px;
      margin-right: 10px;
      fill: currentColor;
   
    }
  }
 
  
