.task {
  // Контейнер налаштування 480
  @media screen  and (min-width: 480px){
    display: none;


  }

  @media screen and (min-width: 1200px){
    display: block;


  }
  padding-bottom: 0px;
  padding-top: 0px;

    &__photo {
      padding: 0;
      margin: 0;
   
      display: flex;
      gap: 30px;
    }
   
    &__photo img {
      display: block;
   
    }
   
    &__over {
      position: relative;
      display: block;
   
    }
   
    &__over-text {
      position: absolute;
      width: 100%;
      height: 70px;
      left: 0;
      bottom: 0;
   
      padding-top: 27px;
      padding-bottom: 27px;
   
      font-weight: 700;
      font-size: 14px;
      line-height: 1.1;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
   
      color: var(--background-main);
      background-color: var(--overflow-color);
    }

    
  
  }



